---
import Run from "../components/run.jsx";
---

<article>
    <i class='fi fi-br-terminal' style="position: absolute; top: 5px; left: 5px"></i>
    <h2><span>Acerca de mi</span><i class="fi fi-sr-circle-xmark"></i></h2>
    <p class="code"><span><span class="host">ac@games</span><span class="path">:~$</span> <span class="blink command">whoami</span><br></span>
    </p>
    <Run client:visible />
</article>