---
interface Props{
    title?: string
}
import Links from "./links.astro";

const {title} = Astro.props

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />		
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#1a1919" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		<Links/>
	</head>
	<body>